[submodule "cse3320/msh"]
	path = cse3320/msh
	url = git@github.com:addonovan/msh.git
[submodule "cse3320/mandelbrot"]
	path = cse3320/mandelbrot
	url = git@github.com:addonovan/mandelbrot.git
[submodule "cse3320/fat32"]
	path = cse3320/fat32
	url = git@github.com:addonovan/fat32.git
[submodule "cse3310/ueberkasino"]
	path = cse3310/ueberkasino
	url = git@github.com:addonovan/ueberkasino.git
[submodule "cse3330/cse3330_socialmedia"]
	path = cse3330/cse3330_socialmedia
	url = git@github.com:addonovan/cse3330_socialmedia.git
